<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ted Lasso</title>
  </head>
  <body>
    <h1>Ted Lasso Characters!</h1>
    <br/>

    <div id="app">
      <div>
        <h3>Character Type Stats:</h3>
        <ul>
          <li>Ballers: </li>
          <li>Coaches: </li>
          <li>Owners: </li>
        </ul>

        <br/>

        <h3>ADD a Character!</h3>
        <!-- <pre>{{ newCharacter }}</pre> -->
        <label for="character-name">Name</label>
        <input type="text" v-model="newCharacter.name" @keyup.enter="addNewCharacter" />
      </div>
      <br/>

      <p v-if="characterList.length === 0">There are no characters!</p>
      <!-- v-show is an alternate where things are shown/hidden via CSS, not done here -->
      <p v-else-if="characterList.length === 1">There's only one character!</p>
      <div v-else>
        <h3>Characters!</h3>
        <ul>
          <li v-for="char in characterList">
            <p>{{ char.name }}, {{ char.desc }}</p>
            <button @click="favoriteCharacter(char)">♥︎ Favorite</button>
          </li>
        </ul>
        <br/>

        <h3>♥︎ Faves</h3>
        <ul v-if="favoriteList.length > 0">
          <li v-for="fave in favoriteList">{{ fave.name }}</li>
        </ul>
        <p v-else>There are no faves!</p>

        <br/>

        <h3>Characters with COMMAS!</h3>
        <!-- Using only what we know so far, here is a way to 
        not have a comma after the final name -->
        <p>
          <span v-for="(char, index) in characterList">
            {{ char.name }}{{ index === characterList.length - 1 ? '' : ', ' }}
          </span>
        </p>

        <br/>

        <h3>Okay, now BALLERS ONLY!</h3>
        <p>
          <span v-for="(char, index) in characterList">
            <span v-if="char.type === 'baller'">
              {{ char.name }}{{ index === characterList.length - 1 ? '' : ', ' }}
            </span>
          </span>
        </p>

      </div>

    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script>
      // more succinct ver of creating app/data:
      Vue.createApp({
        data: () => ({
            characterList: [
              {name: 'Ted', desc: 'BBQ Genius', type: 'coach'},
              {name: 'Rebecca', desc: 'Badass Bestie', type: 'owner'},
              {name: 'Dani', desc: 'Tulip Fan', type: 'baller'},
              {name: 'Higgins', desc: 'Jazz Legend', type: ''},
              {name: 'Jamie', desc: 'Bicycle Instructor', type: 'baller'},
              {name: 'Keeley', desc: 'PR Princess', type: ''},
              {name: 'Beard', desc: 'Coach', type: 'coach'},
              {name: 'Sam', desc: 'Wuvvable Winger', type: 'baller'},
            ],
            favoriteList: [],
            newCharacter: {
              name: '',
              desc: '',
              baller: '',
            }
        }),
        computed: {

        },
        methods: {
          addNewCharacter() {
            this.characterList.push(this.newCharacter)
            this.newCharacter = { name: '' }
          },
          favoriteCharacter(character) {
            this.favoriteList.push(character)
          }
        }
      }).mount('#app')
      // pay attention to mount being attached to app in this Vue.createApp version
    </script>

  </body>
</html>
